GEMINI_API_KEY="MY_GEMINI_API_KEY"

# MySQL
DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD="azer1234"
DB_NAME="gestion_hse"

# API
API_PORT="4002"
APP_URL="http://localhost:3000"
JWT_SECRET="change-me-please"

VITE_API_URL="http://127.0.0.1:4002"

# SMTP Gmail SSL
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER="yassinetilili50002003@gmail.com"
SMTP_PASS="qtnf hymf pnwz cvtl"
SMTP_FROM="yassinetilili50002003@gmail.com"

# !! IMPORTANT : PAS d'espace avant l'URL !!
# Ancien (BUGUÉ)  : NGROK_URL=" https://heroics-washday-unethical.ngrok-free.dev"
# Correct         : NGROK_URL="https://heroics-washday-unethical.ngrok-free.dev"
NGROK_URL="https://heroics-washday-unethical.ngrok-free.dev"

DEFAULT_DECLARANT_ID="1"
DEFAULT_SECTEUR_ID="1"
